.advert-displayed-border {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 650px;
}

.bloc-name-button {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.top-right-gros-bouton-apply {
    width: 50%;
}

.bloc-infos{
    display: flex;
    flex: row;
    width: 100%;
}

.top-left {
    width: 100%;

}
