@font-face {
    font-family: 'Montserrat';
    src: url('../assets/font/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open_Sans';
    src: url('../assets/font/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/font/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.border{
    border: 10px;
    border-color: black;
    border: solid;
}

.annonces{
    display: flex;
    flex-direction: row;
}
.adverts{

    flex: 30%;
    height:500px;
    overflow-y:scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    scrollbar-width: none;

}

.advert{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    flex-grow: 80%;
    width: 80%;
}

.advert h3{

    margin: 1px;
}

.advert .bouton{
    align-self: flex-end;
}


.advert-displayed{
    padding: 20px;
    flex: 30%;

}
