@font-face {
    font-family: 'Montserrat';
    src: url('../assets/font/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/font/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/font/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.BannerCompany {
    background-color: #34495E;
    padding: 25px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.like-img {
    padding-left: 20%;
}
.logo{
width: 125px;
height: auto;
}

.banner-button{
    padding-right: 20%;
    display: flex;
    gap: 40px
}
