@font-face {
    font-family: 'Montserrat';
    src: url('../assets/font/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Style pour la page avec un fond personnalisé */
body.custom-background {
    background-color: #F8F8F8;

    min-height:100vh;
    margin: 0;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}



.login-container {
    font-family: Montserrat;
    font-size: 14px;

    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    background-color: #FFF;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    padding-bottom: 30px;
    padding: 20px;

    margin-top: 200px;
    width: 500px;
    gap : 10px;
}

.login-logo {
    margin-top: 20px;
    width: 125px;
    height: auto;
}

.loginsignup-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    margin-top: 20px;
    margin-bottom: 50px;
}


/*LOGIN*/

.login-form,
.signup-form {
    display: none; /* Cache par défaut les deux formulaires */
}

.login-form.active,
.signup-form.active {
    display: block; /* Affiche le formulaire actif */

}


.login-input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin-bottom: 30px;

    font-size: 14px;
}

.login-label {
    display: block;
    margin-bottom: 5px;
    margin-right: auto; /* Repousse l'élément vers la droite */
}

.login-input {
    width: 100%;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 14px;
    color: #000;
    background-color: #ECEFF1;
}

.login-input:focus {
    outline: none;
    border-color: #FC6EDA;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(252, 110, 218, 0.5);
}

.forgot-password {
    text-align: center;
    margin-top: 15px;

}

.submit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 50px;
}


/*SIGN UP*/
.radio-group {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.signup-form-recruiter,
.signup-form-candidate {
    display: none; /* Cache par défaut les deux formulaires */
}

.signup-form-recruiter,
.signup-form-candidate {
    display: block; /* Affiche le formulaire actif */
    display: grid;
    grid-template-columns: 1fr 1fr; /* Deux colonnes égales */
    gap: 10px;
    align-items: center;
    padding: 10px;
    margin: 5px;
}


/*modification mail*/
.signup-input-mail {
    grid-column: span 2;
    width: 100%;
}

.signup-input-mail .sign-input {
    width: 400px;
}

/*modification password*/
.signup-input-password{
    grid-column: span 2;
    width: 100%;
}
.signup-input-password .sign-input{
    width: 400px;
}

.sign-label {
    display: block;
    padding-left:7px;
    margin-bottom: 5px;

}
.sign-input {
    width: 180px;
    padding: 8px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 14px;
    color: #000;
    background-color: #ECEFF1;
}

.sign-input:focus{
    outline: none;
    border-color: #FC6EDA;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(252, 110, 218, 0.5);
}

